In [1]:
#Q1. Create one variable containing following type of data:
strVar1 = 'This is  assignment number 1'
print(strVar1)
vartype = type(strVar1)
print('This is ' + str(vartype) + ' variable')

This is  assignment number 1
This is <class 'str'> variable

In [2]:
lstVar1 = [1,2,'abc', 'ab12', 'This is part of list variable']
print(lstVar1)
vartype = type(lstVar1)
print('This is ' + str(vartype) + ' variable')
lstVar1[0] = 5
print(lstVar1)

[1, 2, 'abc', 'ab12', 'This is part of list variable']
This is <class 'list'> variable
[5, 2, 'abc', 'ab12', 'This is part of list variable']

In [3]:
flVar1 = 2.5
vartype = type(flVar1)
print(vartype)
print('This is ' + str(vartype) + ' variable')

<class 'float'>
This is <class 'float'> variable

In [4]:
tupVar1 = (1,2,'abc', 'ab12', 'This is part of tuple variable')
print(tupVar1)
vartype = type(tupVar1)
print('This is ' + str(vartype) + ' variable')

(1, 2, 'abc', 'ab12', 'This is part of tuple variable')
This is <class 'tuple'> variable

In [20]:
'''Q2 What will be the data type of the above given variable.'''
var1 = '' 
type(var1)

str

In [6]:
var2 = '[DS , ML , Python]'
type(var2)

str

In [7]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [8]:
var4 = 1.
type(var4)
var5 = (1, 4, 'abc')
type(var5)
print(type(var4))
print(type(var5))

<class 'float'>
<class 'tuple'>

In [9]:
#Q3. Explain the use of the following operators using an example:
5/2

2.5

In [10]:
7%5

2

In [11]:
7//5

1

In [12]:
4**4

256

In [19]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''
lstVar1 = ['Pune', 2, 9, 5, 2, 25,67,92,100, 2.5, 'Ashish']
for i in lstVar1:
    print(i)
    print(type(i))

Pune
<class 'str'>
2
<class 'int'>
9
<class 'int'>
5
<class 'int'>
2
<class 'int'>
25
<class 'int'>
67
<class 'int'>
92
<class 'int'>
100
<class 'int'>
2.5
<class 'float'>
Ashish
<class 'str'>

In [13]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible'''
a = input()
b = input()
c = int(a)%int(b)
d = int(a)//int(b)
while c == 0:
    print(a +' is purely divisible by ' + b)
    print(d)
    c=1

 35
 7

35 is purely divisible by 7
5

In [16]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.'''
lstVar1 = [2, 9, 5, 2, 25,67,92,100,234,56,45,67,23,99,108,36,35,27,95,257,1008,45,89,38,25]
for i in lstVar1:
    print(i)
    if i%3 == 0:
        print('this number is divisible by 3')
    else: 
        print('this number is not divisible by 3')

2
this number is not divisible by 3
9
this number is divisible by 3
5
this number is not divisible by 3
2
this number is not divisible by 3
25
this number is not divisible by 3
67
this number is not divisible by 3
92
this number is not divisible by 3
100
this number is not divisible by 3
234
this number is divisible by 3
56
this number is not divisible by 3
45
this number is divisible by 3
67
this number is not divisible by 3
23
this number is not divisible by 3
99
this number is divisible by 3
108
this number is divisible by 3
36
this number is divisible by 3
35
this number is not divisible by 3
27
this number is divisible by 3
95
this number is not divisible by 3
257
this number is not divisible by 3
1008
this number is divisible by 3
45
this number is divisible by 3
89
this number is not divisible by 3
38
this number is not divisible by 3
25
this number is not divisible by 3

In [21]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.'''
#Mutalbe data types' value can be changed while immutable datatypes' value can not be changed
#List is mutable data type while tuple is immutable data type
lstVar1 = [1,2,'abc', 'ab12', 'This is part of list variable']
print(lstVar1)
vartype = type(lstVar1)
print('This is ' + str(vartype) + ' variable')
lstVar1[0] = 5
print(lstVar1)

[1, 2, 'abc', 'ab12', 'This is part of list variable']
This is <class 'list'> variable
[5, 2, 'abc', 'ab12', 'This is part of list variable']

In [22]:
tupVar1 = (1,2,'abc', 'ab12', 'This is part of tuple variable')
print(tupVar1)
vartype = type(tupVar1)
print('This is ' + str(vartype) + ' variable')

(1, 2, 'abc', 'ab12', 'This is part of tuple variable')
This is <class 'tuple'> variable